/* Footer ПОДПИШИТЕСЬ НА РАССЫЛКУ */

.subscribe-box {
  margin-left: auto;
  margin-top: 12px;
  display: inline-flex;
  flex-direction: column;

  &__button {
    width: 200px;
    height: 50px;
    margin-left: 12px;

    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: #2196f3;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;

    color: #ffffff;

    cursor: pointer;
  }

  &__button-ico {
    margin-left: 10px;
    fill: #ffffff;
  }

  & input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms $animation-cubic;
  }

  & input {
    width: 358px;
    height: 50px;

    margin-top: 20px;
    padding-left: 16px;

    background-color: transparent;

    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: 250ms $animation-cubic;
  }

  & input:focus,
  & input:hover {
    border: 1px solid #2196f3;
    color: #fff;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
