/* FOOTER LOGO ADDRESS PHONE */
.page-footer {
  background-color: $bg-second-color;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__links-box {
      margin-left: 76px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__links-box {
      display: flex;
      flex-direction: column;
      white-space: nowrap;
    }
  }

  &__address-box {
    margin-top: 20px;
  }
}

// ПРИСОЕДИНЯЙТЕСЬ

.connecting-box {
  @media screen and (min-width: 768px) {
    margin-right: 89px;
    margin-top: 5px;
  }
}

.footer-list {
  &__item {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  &__item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
  &__map {
    color: #ffffff;
  }
  &__mail,
  &__phone {
    color: rgba(255, 255, 255, 0.6);
  }
}
