/* FONT */
$primary-font: roboto, sans-serif;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$title-text-color: #212121;
$accent-text-color: #2196f3;

/* LOGOTYPE */
$logo-font: Raleway;
$logo-color: #2196f3;
$logo-color-second: #212121;
$logo-color-second-futer: #fff;

/* BACKGROUND COLOR*/
$bg-second-color: #2f303a;
$bg-color: #fff;
$bg-color-hero: #c4c4c4;

/* RADIO BUTTONS */
$radio-buttons-color: #f5f4fa;
$radio-buttons-text-color: #212121;

$radio-buttons-bg-current: #2196f3;
$radio-buttons-text-current: #ffffff;

/* animation */

$animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);

// footer

$connecting-item-color: rgba(255, 255, 255, 0.1);
