/* BACKDROP + MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms $animation-cubic;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: 250ms $animation-cubic;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  padding: 40px;

  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &__form {
    margin-top: 12px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }

  &__close-button {
    padding: 0;
    position: absolute;
    right: 8px;
    top: 8px;

    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  &__close-icon {
    fill: #000000;
    transition: 250ms $animation-cubic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__close-button:hover .close-icon {
    fill: #2196f3;
  }
  &__close-button:focus .close-icon {
    fill: #2196f3;
  }
}

.form-box {
  display: block;
  position: relative;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: start;

  &__input {
    vertical-align: middle;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 10px;
    margin-top: 4px;
    outline: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms $animation-cubic;
  }

  &__input:hover,
  &__input:focus {
    border-color: $accent-text-color;
  }

  &__icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 12px;

    width: 18px;
    height: 18px;

    transition: 250ms $animation-cubic;
  }

  &__input:hover + &__icon,
  &__input:focus + &__icon {
    fill: $accent-text-color;
  }

  &__input.comment {
    padding-top: 12px;
    padding-left: 16px;
    resize: none;
    height: 120px;
  }

  &__input::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.policy-label {
  display: flex;
  align-items: center;
  margin-top: 25px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;

  & a {
    color: $accent-text-color;
    border-bottom: 1px solid currentColor;
    display: inline-block;
    line-height: 0.85;
  }

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
    margin-left: 13px;
    transition: 250ms $animation-cubic;
  }
}

.policy-checkbox {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: 0px;
  border: 0px;
  padding: 0px;
  clip: react(0 0 0 0);
  overflow: hidden;

  &:hover + .policy-label::before,
  &:focus + .policy-label::before {
    border: 2px solid $accent-text-color;
  }

  &:checked + .policy-label::before {
    background-color: $accent-text-color;
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: transparent;
  }
}

.modal-button-submit {
  margin-top: 30px;
  border: $accent-text-color;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;

  background: $accent-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;

  cursor: pointer;
}
